<div>
<form action="/sentences/<%=sentence%>/update/<%=oldLang%>" method="post">
<!--	action determins which route will be triggered-->
<input type="text" name="newLang">
<!--	assigning the name we can then get the value from req.body using body parser-->
<input type="submit" value="Update the translation">
</form>
</div>