<div>
<form action="/sentences/<%=oldSentence%>/update" method="post">
<!--	action determins which route will be triggered-->
<input type="text" name="sentence">
<!--	assigning the name we can then get the value from req.body using body parser-->
<input type="submit" value="Update the sentence">
</form>
</div>


